@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap%27');

.App {
  color: #ffffff;
  /* font-family: "Poppins-SemiBold", Poppins; */
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
}

.hero-section{
 display: flex;
}

.home-image {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: right;
  width: 100%;
  margin-right: 0;
  margin-top: 7vh;
}

.space-ship-wrapper {
  border: 0px none;
  height: 662px;
  width: 764px;
}

.space-ship {
  background-size: cover;
}
  