.container{
    background-color: transparent;
    display: flex;
    justify-content: center;
    width: 100%;
}

.box-people{
    margin-top: 10vh;
    background-color: #10212b;
    height: 354px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-wrapper3{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.title-people{
    font-size: 48px;
    font-weight: 700;
    margin-top: 3vh;
    line-height: normal;
}

.number{
    font-size: 128px;
    font-weight: 700;
}

.image-container2{
    position: relative;
    display: flex;
    justify-content: space-between;
    top: -20vh;
}

.astronaut{
    height: 296px;
    object-fit: cover;
    position: relative;
    width: 296px;
    margin-left: 30vh;
}

.planet{
    object-fit: cover;
    position: relative;
    height: 356px;
    width: 356px;
    margin-right: 20vh;
}
